.item-title {
  margin-top: 40px;
  padding-left: 20px;
  position: relative;
  &:before {
    position: absolute;
    left: -2px;
    top: 50%;
    width: 10px;
    height: 10px;
    content: " ";
    border-radius: 50%;
    margin-left: -5px;
    margin-top: -9px;
  }
  &.item-title-0:before {
    background: #1ABC9C;
  }
  &.item-title-1:before {
    background: #3498DB;
  }
  &.item-title-2:before {
    background: #9B59B6;
  }
  &.item-title-3:before {
    background: #E67E22;
  }
  &.item-title-4:before {
    background: #E74C3C;
  }
}
