// Variables
// ----------------------

$gray: #333;
$gray-light: #aaa;
$gray-lighter: #eee;
$space: 40px;
$blue: #428bca;
//$blue-dark: darken($blue, 5%);
$blue-dark: $blue;


//
// Btn
// ----------------------


//
// Modal
// ----------------------

.modal {
  // This is modal bg
  .cover {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.6);
  }
  hr {
    max-width: 320px;
    height: 1px;
    margin-top: -1px;
    margin-bottom: 0;
    border: none;
    background-image: linear-gradient(0deg, transparent, #dcdcdc, transparent);
    background-image: -webkit-linear-gradient(0deg, transparent, #dcdcdc, transparent);
  }
}


// Modal Dialog
// ----------------------

.modal-dialog {
  position: fixed;
  z-index: 11;
  bottom: 0;
  width: 100%;
  height: 160px;
  transition: .3s ease-out;
  background: #fefefe;
  &.show-dialog {
    transform: translate3d(0, 0, 0);
  }

  &.hide-dialog {
    transform: translate3d(0, 100%, 0);
  }
}
.modal-body {
  height: 70px;
  display: table;
  text-align: center;
  width: 100%;
  .list-toolbox {
    text-align: center;
    display: table-cell;
    vertical-align:middle;
    .item-toolbox {
      display: inline-block;
      a {
        font-size: 13px;
        line-height: 40px;
        display: inline-block;
        height: 40px;
        margin: 5px 2px;
        transition-duration: .5s;
        text-align: center;
        color: #555;
        border-radius: 20px;
        background: #f0f0f0;

        transition-propety: background-color;
        &.CIRCLE {
          width: 40px;
        }
        &.ROUND_RECT {
          padding: 0 20px;
        }
        &:hover {
          background: #dfdfdf;
        }
      }
    }
  }
}


.modal-header {
  font-size: 13px;
  text-align: center;
  height: 75px;
  .btn-close {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    font-size: 13px;
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    transition-duration: .5s;
    text-align: center;
    text-decoration: none;
    color: #555;
    border-radius: 20px;
    background: #f0f0f0;

    &:hover {
      color: darken($gray-light, 10%);
    }
  }
}

.btn-close,
.toolbox-mobile {
  &:hover {
    cursor: pointer;
  }
}
