.page-header {
  margin-bottom: 30px;
  position: relative;
  background: #fff;
  .breadcrumb {
    color: #d0d0d0;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: -20px;
    i {
      font-size: 26px;
      color: #dfdfdf;
    }
    i, span {
      vertical-align: middle;
    }
  }
  .box-blog-info {
    display: block;
    .avatar,
    .info {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      vertical-align: middle;
    }
    .info {
      .name {
        font-family: 'calligraffittiregular';
        font-weight: bold;
        color: #000;
        font-size: 24px;
        margin: 0;
        width: 100px;
      }
      .slogan {
        color: #999;
        display: inline-block;
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .page-header {
    margin-bottom: 30px;
    .home-entry {
      display: inline-block;
    }
    .box-blog-info {
      margin-left: -30px;
      display: block;
    }
  }
}
@media screen and (max-width: 767px) {
  .page-header {
    margin-bottom: 30px;
    text-align: center;
    .breadcrumb {
      display: none;
    }
    .home-entry {
      display: none;
    }
    .box-blog-info {
      .avatar {
        display: block;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          vertical-align: middle;
        }
      }
      .info {
        display: inline-block;
        .name {
          display: inline-block;
          margin-top: 10px;
          margin-bottom: 8px;
        }
        .slogan {
          display: block;
        }
      }
    }
  }
}
