.tag-box {
  margin-left: -$tag-title-height/2;
  margin-bottom: -$tag-title-height/2;
  position: relative;
  .tag-title {
    position: absolute;
    top: 50%;
    margin-top: -$tag-title-height/2;
    height: $tag-title-height;
    width: $tag-title-height;
    line-height: $tag-title-height;
    border-radius: 50%;
    color: #555;
    background: #f0f0f0;
    font-size: 13px;
    text-align: center;
  }
  .tag-list {
    margin-left: 50px;
    .tag-item {
      color: #999;
      margin: 5px 3px;
      font-size: 12px;
      display: inline-block;
      height: $tag-item-height;
      line-height: $tag-item-height;
      border-radius: $tag-item-height/2;
      padding: 0 12px;
      background: #f6f6f6;
      &:hover {
        background: #f0f0f0;
        color: #333;
      }
      .tag-size {
        font-family: 'calligraffittiregular';
        font-weight: bold;
      }
    }
  }
}

