.box-prev-next {
  $size: 36px;
  $color: #ccc;
  margin-top: -40px;
  margin-bottom: 70px;
  a,
  .icon {
    display: inline-block;
  }
  a {
    text-align: center;
    line-height: $size;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 1px solid #dfdfdf;
    &.pull-left {
      .icon:before {
        margin-right: 0.28em !important;
      }
    }
    &.pull-right {
      .icon:before {
        margin-left: 0.28em !important;
      }
    }
    &.hide {
      display: none !important;
    }

    &.show {
      display: block !important;
    }

  }
  .icon {
    color: $color;
    font-size: 24px;
    &:hover {
      color: darken($color, 5%);
    }
  }
}
