<% if (theme.gitalk_shortname){ %>
<!-- Gitalk评论插件通用代码 -->
<div id="git"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
const gitalk = new Gitalk({
  clientID: 'fa6d900315185857f892',
  clientSecret: 'b93e7901b0b17ae685221aacd6348824aa737d85',
  repo: 'BlogComments',
  owner: 'icebergcwp1990',
  admin: ['icebergcwp1990'],
  // facebook-like distraction free mode
  distractionFreeMode: false
})
gitalk.render('git')
</script>
<!-- Gitalk代码结束 -->

<% } %>
