<div class="modal" id="modal-one" aria-hidden="true">
  <a href="#close" class="cover" aria-hidden="true"></a>
  <div class="modal-dialog">
    <div class="modal-header">
      <a href="#close" class="btn-close" aria-hidden="true">关闭</a>
    </div>
    <div class="modal-body">
      <ul class="list-toolbox">
        <% theme.page_nav.forEach(function(item, i){ %>
          <li class="item-toolbox">
            <a
              class="<%= theme.page_nav_style ? theme.page_nav_style : 'ROUND_RECT' %>"
              href="<%= item.url %>"
              target="<%= item.target_blank ? '_blank' : '_self' %>"
              >
              <%= item.name %>
            </a>
          </li>
        <% }) %>
      </ul>

    </div>
  </div>
</div>
