<div class="page-header">
  <div class="breadcrumb"><i class="icon-location"></i><span><%= location %></span></div>

  <%- partial('toolbox') %>
  <div class="box-blog-info">
    <a class="avatar" href="/">
      <img src="/images/avatar.jpg" alt="" />
    </a>
    <div class="info">
      <h3 class="name">
        <%= theme.blog_name %>
      </h3>
      <div class="slogan">
        <%= theme.slogan %>
      </div>
    </div>
  </div>
</div>
