<% if(theme.post.open_in_new_window) { %>
  <a class="post-title" href="<%- url_for(post.path) %>" target="_blank"><%= post.title || '(no title)' %></a>
<% } else { %>
  <a class="post-title" href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
<% } %>
