<% if(theme.post.showToc && toc(page.content).length !== 0) { %>
  <div id="toc" class="toc-article">
    <strong class="toc-title">文章目录</strong>
    <%- toc(page.content, {list_number: false}) %>
  </div>
<% } %>
