<% if(theme.toolbox && theme.toolbox.isShow == true) { %>
  <div class="toolbox">
    <div class="toolbox-entry">盒子</div>
    <ul class="list-toolbox">
      <% theme.page_nav.forEach(function(item, i){ %>
        <% for(var j in item) { %>
          <li class="item-toolbox">
            <a class="<%= theme.page_nav_style ? theme.page_nav_style : 'ROUND_RECT' %>" href="<%= item[j] %>"><%= j %></a>
          </li>
        <%} %>
      <% }) %>
    </ul>
  </div>
<% } %>
