<% if (theme.uyan_key){ %>
<!-- 集成有言评论-->
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<!-- <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2147865"></script> -->
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=<%= theme.uyan_key %>"></script>

<!-- UY END -->

<% } %>