<li id="<%= post.tagName %>" class="item-category-name item-title item-title-<%= post.id %>">
  <!--
    <a href="" class="text-year">
   -->
    <%= post.tagName %>
    <span class="category-count">( <%= post.count %> )</span>
  <!--
  </a>
   -->
</li>
