<% if (post.prev || post.next){ %>
<ul id="article-nav" class="nav nav-pills nav-justified">
  <% if (post.next){ %>
  <li role="presentation">
    <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
      <i class="fa fa-chevron-left pull-left"></i>
      <span class="article-nav-link-title"><%= post.next.title || '(no title)' %></span>
    </a>
  </li>
  <% } %>
  <% if (post.prev){ %>
  <li role="presentation">
    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
      <span class="article-nav-link-title"><%= post.prev.title || '(no title)' %></span>
      <i class="fa fa-chevron-right pull-right"></i>
    </a>
  </li>
  <% } %>
</ul>
<% } %>
