<%
/**
 * Display all categories and posts of a category
 * @param category
 * @returns {string}
 */
function displayCategoriesAndPosts(category) {
  // get its posts
  var posts = category.posts;
  // get its child categories
  var childCategories = site.categories.find({
    'parent': category._id
  });
  // init its parents
  var boxCSSClass = '';
  if (category.parents === undefined) {
    category.parents = [];
    boxCSSClass = 'box';
  }
  // create post content
  var html = '';
  html += '<div id="posts-list-' + category.name + '" class="archive ' + boxCSSClass + '" ' +
    'data-category="' + category.name.toLowerCase() + '" ' +
    'data-parent-categories="' + category.parents.join(',') + '">';
  // add category title
  html += '<h4 class="archive-title text-xlarge">';
  // html += '<a class="link-unstyled" href="' + url_for(category.path) + '">';
  html += category.name;
  html += '<span class="category-count">';
  html += ' ( ' + category.length + ' )';
  html += '</span>';
  // html += '</a>';
  html += '</h4>';
  html += '<ul class="archive-posts">';
  // create html for its posts
  posts.forEach(function(post) {
    html += '<li class="archive-post">';
    html += '<a class="archive-post-title" href="' + url_for(post.path) + '">';
    html += '<span class="archive-post-date">';
    html += date(post.date, 'MM-DD');
    html += '</span>';
    html += '<span class="archive-post-title">';
    html += post.title || '(' + __('post.no_title') + ')';
    html += '</span>';
    html += '</a>';
    html += '</li>';
  });
  if (childCategories.length > 0) {
    // recursive iteration on its child categories
    childCategories.forEach(function(childCategory) {
      // clone parents of current category to its child category
      childCategory.parents = category.parents.slice();
      // add current category to the parent of current child category
      childCategory.parents.push(category.name.toLowerCase());
      html += displayCategoriesAndPosts(childCategory);
    });
  }
  html += '</ul>';
  html += '</div>';
  return html;
}
%>

<div class="content-category">
  <section class="boxes">
    <% site.categories.sort('name').each(function(category) { %>
      <% if (!category.parent) { %>
        <%- displayCategoriesAndPosts(category) %>
      <% } %>
    <% }); %>
  </section>
</div>
