<div class="content-home text-center">
  <a class="avatar" href="/">
    <img src="/images/avatar.jpg" alt="" />
  </a>
  <h1 class="name">
    <%= theme.blog_name %>
  </h1>
  <div class="slogan">
    <%= theme.slogan %>
  </div>
  <hr>

  <ul class="text-center nav">
    <% theme.home_nav.forEach(function(item, i){ %>
      <% for(var j in item) { %>
        <li class="item">
          <a href="<%= item[j] %>" target="_blank"><%= j %></a>
          <span>|</span>
        </li>
      <%} %>
    <% }) %>
  </ul>

</div>
