<div id="content" class="content-home text-center">
  <a class="avatar" href="/">
    <img src="/images/avatar.jpg" alt="" />
  </a>
  <h1 class="name">
    <%= theme.blog_name %>
  </h1>
  <div class="slogan">
    <%= theme.slogan %>
  </div>
  <hr>
  <div class="text-center list">
    <a class="item" href="archives" target="_blank">Blog</a>
    |
    <a class="item" href="https://github.com/forsigner" target="_blank">GitHub</a>
    |
    <a class="item" href="http://www.douban.com/people/forsigner/" target="_blank">Douban</a>
    |
    <a class="item" href="https://twitter.com/forsigner" target="_blank">Twitter</a>
  </div>
</div>
