<div class="post-header<%= theme.post.header_align ? ' ' + theme.post.header_align : '' %>">
   <%- partial('_partial/component/toolbox') %>
</div>
<div class="content-post<%= theme.post.header_align ? ' ' + theme.post.header_align : '' %>">
   <%- partial('_partial/article', {post: page, index: false}) %>
</div>
