<div class="outer">
    <div id="footer-info" class="inner" style="text-align:center;">
      <table width="100%" border="0">
        <tr>
          <td style="text-align:left">
            Copyright &copy; 2014-<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> &nbsp; &nbsp;
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a><br>
            Theme <a href="https://github.com/sykiechen/hexo-theme-hic17" target="_blank">HiC17</a> by Sykie Chen &nbsp; &nbsp;
            Hosted on <a href="http://gitcafe.com/" target="_blank">Git Cafe</a>
          </td>
          <td style="text-align:right">
            <div style="font-family: FontAwesome;font-size: 20px;">
            <a href="http://weibo.com/3904642734" title="微博" target="_blank">&#61834;</a>&nbsp;
            <a href="http://www.renren.com/287137027" title="人人" target="_blank">&#61835;</a>&nbsp;
            <a href="http://user.qzone.qq.com/525969441" title="QQ空间" target="_blank">&#61910;</a>&nbsp;
            <a href="https://www.facebook.com/sykiechencixi" title="Facebook" target="_blank">&#62000;</a>&nbsp;
            <a href="https://twitter.com/HKEY_C17" title="twitter" target="_blank">&#61593;</a>&nbsp;
            <a href="http://www.linkedin.com/in/sykiechen" title="LinkedIn" target="_blank">&#61665;</a>&nbsp;
            <a href="https://github.com/sykiechen" title="GitHub" target="_blank">&#61595;</a>&nbsp;
            <a href="https://plus.google.com/118157846818083514683" title="Google+" target="_blank">&#61653;</a>
            </div><br>
            <a href="/sitemap.xml">网站地图</a>&nbsp; &nbsp;
            <a href="/atom.xml">订阅本站</a>&nbsp; &nbsp;
            <a href="mailto:i@devchen.com" target="_blank">联系博主</a>&nbsp; &nbsp;
            ICP 备案你妹
          </td>
        </tr>
      </table>
    </div>
</div>
