<div class="toolbox">
  <div class="home-entry">盒子</div>
  <ul class="list-entry">
    <% theme.page_nav.forEach(function(item, i){ %>
      <% for(var j in item) { %>
        <li class="item-entry">
          <a href="<%= item[j] %>"><%= j %></a>
        </li>
      <%} %>
    <% }) %>
  </ul>
</div>
