@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.content-archive {
  margin: 40px auto;
  width: 100%;
  .archive-header {
    margin-bottom: 30px;
    position: relative;
    .breadcrumb {
      position: absolute;
      color: #dfdfdf;
      font-size: 16px;
      top: 6px;
      left: 26px;
      i {
        font-size: 20px;
      }
    }
    .archive-nav {
      position: relative;
      width: 40px;
      &:hover {
        .list-entry {
          //visibility: visible;
          //opacity: 1;
          //transition: visibility 0s, opacity 0.8s linear;

          display: block;
          -webkit-animation: fadeInFromNone 0.5s ease-out;
          -moz-animation: fadeInFromNone 0.5s ease-out;
          -o-animation: fadeInFromNone 0.5s ease-out;
          animation: fadeInFromNone 0.5s ease-out;
        }
      }
      .home-entry {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 13px;
        text-align: center;
        line-height: 40px;
        color: #555;
        margin-bottom: 20px;
        background: #f0f0f0;
        margin-left: -20px;
      }
      .list-entry {
        //opacity: 0;
        //visibility: hidden;
        //transition: visibility 0s, opacity 0.8s linear;
        display: none;
        position: absolute;
        top: -17px;
        left: 30px;
        width: 500px;
        li {
          display: inline-block;
          a {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 13px;
            text-align: center;
            line-height: 40px;
            color: #555;
            margin-bottom: 20px;
            background: #f0f0f0;
          }
        }
      }
    }
    .avatar {
      display: block;
      img,
      .blog-info {
        line-height: 1.8em;
        display: inline-block;
        vertical-align: middle;
      }
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        vertical-align: middle;
      }
      .name {
        font-family: 'calligraffittiregular';
        font-weight: bold;
        color: #000;
        font-size: 24px;
        margin: 0;
        width: 100px;
      }
      .slogan {
        color: #999;
        display: inline-block;
      }
    }
  }
  .box-year {
    line-height: 3em;
  }
  .article-datetime {
    display: inline-block;
    a {
      font-size: 12px;
      color: #888;
    }
  }
  .article-title {
    display: inline-block;
  }
}
.box-year-title {
  margin-top: 40px;
  a.text-year {
    font-size: 20px;
    font-weight: bold;
    color: #222;
    font-family: 'calligraffittiregular';
    font-weight: bold;
  }
}
.article-title {
  .article-link {
    position: relative;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    &:hover {
      color: $link-hover-color;
    }
  }
}
.box-year-title,
.item-article {
  padding-left: 20px;
  position: relative;
  &:before {
    content: " ";
    position: absolute;
    top: 50%;
    background: #ddd;
    border-radius: 50%;
  }
}
.box-year-title:before {
  background: #bbb;
  left: -2px;
  margin-left: -5px;
  margin-top: -9px;
  width: 10px;
  height: 10px;
}
.archive-body {
  .box-year:nth-child(5n+1) {
    .box-year-title:before {
      background: #1ABC9C;
    }
  }
  .box-year:nth-child(5n+2) {
    .box-year-title:before {
      background: #3498DB;
    }
  }
  .box-year:nth-child(5n+3) {
    .box-year-title:before {
      background: #9B59B6;
    }
  }
  .box-year:nth-child(5n+4) {
    .box-year-title:before {
      background: #E67E22;
    }
  }
  .box-year:nth-child(5n+5) {
    .box-year-title:before {
      background: #E74C3C;
    }
  }
  .item-article:before {
    left: -2px;
    margin-left: -4px;
    margin-top: -4px;
    width: 8px;
    height: 8px;
  }
}
.archive-footer {
  height: 80px;
  background: #fff;
  margin-left: -50px;
  padding-left: 50px;
  line-height: 80px;
}
@media screen and (min-width: 768px) {
  .content-archive {
    width: 500px;
    border-left: 4px solid #f9f9f9;
    .archive-header {
      margin-bottom: 30px;
      a.home-entry {
        display: inline-block;
      }
      .avatar {
        display: block;
        margin-left: -30px;
        img,
        .blog-info {
          line-height: 1.8em;
          display: inline-block;
          vertical-align: middle;
          .slogan {
            color: #999;
            display: inline-block;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .content-archive {
    overflow-x: hidden;
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 12px;
    width: 100%;
    .archive-header {
      margin-bottom: 30px;
      text-align: center;
      a.home-entry {
        display: none;
      }
      .avatar {
        display: block;
        .blog-info {
          display: block;
          line-height: 1.8em;
          .name {
            text-align: center;
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 8px;
          }
          .slogan {
            display: block;
            color: #999;
          }
        }
      }
    }
    .archive-body {
      border-left: 4px solid #f9f9f9;
    }
  }
}
