.content-archive {
  margin: 40px auto;
  .list-post {
    line-height: 2.8em;
  }
}
.archive-footer {
  height: 80px;
  background: #fff;
  margin-left: -50px;
  padding-left: 50px;
  line-height: 80px;
}
@media screen and (min-width: 768px) {
  .content-archive {
    width: 500px;
    border-left: 4px solid #f9f9f9;
  }
}
@media screen and (max-width: 767px) {
  .content-archive {
    overflow-x: hidden;
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 12px;
    width: 100%;
    .archive-body {
      border-left: 4px solid #f9f9f9;
    }
  }
}
