.content.content-category {
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .content.content-category {
    width: 500px;
    border-left: 4px solid #f9f9f9;
  }
}
@media screen and (max-width: 767px) {
  .content.content-category {
    overflow-x: hidden;
    margin-top: 30px;
    padding-left: 12px;
    width: 100%;

  }
}
