.article-inner {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 25px 0 15px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  a {
    color: #02b875;
    &:hover {
      color: darken(#02b875, 10%);
    }
  }
  p {
    font-size: 16px;
    line-height: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  img {
    width: 100%;
    height: auto;
  }
  ul {
    li {
      font-size: 16px;
      position: relative;
      padding-left: 14px;
      color: #333;
      &:before {
        position: absolute;
        top: 50%;
        left: -2px;
        width: 6px;
        height: 6px;
        margin-top: -3px;
        margin-left: 2px;
        content: ' ';
        border-radius: 50%;
        background: #ddd;
      }
    }
  }
  p + ul {
    margin-top: -15px;
  }
}
